#top, #bottom, #left, #right {
	background: #000000;
	position: fixed;
}

#left, #right {
    top: 0; bottom: 0;
    width: 7.5px;
}

#left { 
    left: 0; 
}

#right { 
    right: 0; 
}
    
#top, #bottom {
    left: 0; right: 0;
    height: 7.5px;
}
    
#top { 
    top: 0; 
}

#bottom { 
    bottom: 0; 
}