html {
    margin: 1%;
    background-color: rgb(255, 255, 239);
    font-family: "Lucida Console", "Courier New", monospace;  
}

body {
    text-align: center;
}

.title {
    font-size: 40px;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    font-weight: 1000;
}

.score {
    font-size: 30px;
}

.win-lose {
    margin: 1.5%;
    font-size: 30px;
    font-weight: 1000;
}

.img-buttons {
    display: flex;
    gap: 90px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: transform .05s;
}
  
#rock:hover,
#paper:hover,
#scissors:hover {
    transform: scale(1.05);
}